/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

body {
    background-image: url(patterns/symphony/symphony.png);
    font-family: 'Francois One', sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    background-color: #fff;
    border-radius: 12px;
    opacity: .8;
}
